# Flask configuration
FLASK_ENV=development
FLASK_APP=app.py
PORT=5000
DATABASE_URL=postgresql://user:password@localhost:5432/db_name

# Flipkart OAuth API client credentials
FLIPKART_CLIENT_ID=your_client_id_here
FLIPKART_CLIENT_SECRET=your_client_secret_here
FLIPKART_REDIRECT_URI=https://your-deployed-app-on-render.com/callback
FLIPKART_ENVIRONMENT=sandbox # or production
FLIPKART_AUTHORIZATION_URL=https://api.flipkart.net/oauth-service/oauth/authorize
FLIPKART_TOKEN_URL=https://ads.api.flipkart.net/ads-agency/token
SECRET_KEY=generate_a_random_session_secret_key_here
